<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>pdm-dashboard</title>
    <meta name="description" content="Droopy is a Dashboard &amp; Admin Site Responsive Template by hencework.">
    <meta name="keywords"
        content="admin, admin dashboard, admin template, cms, crm, Droopy Admin, Droopyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application">
    <meta name="author" content="hencework">
    <!-- <script type="text/javascript" src="/js/echarts.min.js"></script> -->
    <script type="text/javascript" src="/js/ext/ext-all.js"></script>
    <script type="text/javascript" src="/myjs/get_option.js"></script>
    <script type="text/javascript" src="/myjs/event.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Data table CSS -->
    <link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet"
        type="text/css">
    <!-- Toast CSS -->
    <link href="/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet"
        type="text/css">
    <!-- bootstrap-select CSS -->
    <link href="/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .mb-15:hover {
            background-color: burlywood;
            cursor: pointer;
        }

        .panel-body p span {
            font-weight: bold;
        }
    </style>

</head>

<body id="ext-element-1" style="overflow: hidden" class="x-body x-webkit x-chrome x-desktop x-scroller">

    <div style="min-height: 914px; background: #FFF ">
        <div class="container-fluid pt-10">
            <!-- Row -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block1">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-primary">【会议通知】★★★</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>会议主题：</span>政策指引下的建筑工业化发展与建筑结构技术交流<br>
                                    <span>会议时间：</span>2019 年 5 月 30 日（全天）<br>
                                    <span>会议地点：</span>金源阳光大酒店三楼南国春厅（长沙雨花区芙蓉中路 279 号近贺龙体育场）<br>
                                    <span>主办单位：</span>中国建筑科学研究院有限公司<br>
                                    <span>承办单位：</span>北京构力科技有限公司、长沙建科软件技术有限公司<br>
                                    <span>报名截止时间：</span>2019年5月24日17:00<br>
                                    感兴趣的同事请到龙凤处报名。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block9">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-brown">【培训通知】★★</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>培训主题：</span>地下机械停车库喷淋用水量探讨<br>
                                    <span>培训专业：</span>给水排水专业<br>
                                    <span>主讲人：</span>向壮丽<br>
                                    <span>培训时间：</span>2019年5月29日（今天）16:00-17:30<br>
                                    <span>培训地点：</span>科技楼211会议室<br>
                                    <span>参训人员：</span>给水排水专业全员、感兴趣的同事也可参加<br>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block2">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-brown">【培训通知】★★</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>培训主题：</span>建筑工程质量通病防治专篇<br>
                                    <span>培训专业：</span>建筑专业<br>
                                    <span>主讲人：</span>吴卫东<br>
                                    <span>培训时间：</span>2019年5月28日（今天）16:00-17:30<br>
                                    <span>培训地点：</span>科技楼211会议室<br>
                                    <span>参训人员：</span>建筑专业全员、感兴趣的同事也可参加<br>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block3">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-primary">【会议通知】★★</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>会议主题：</span>研发线条例会（BIM软件与协同平台）<br>
                                    <span>时间：</span>2019年5月27日（今天）10:00~11:00 <br>
                                    <span>地点：</span>科技楼211会议室 <br>
                                    <span>参会成员：</span>易小红、谢志成、张贤超、曾裕泉、任绍章、李江滔、曹正、姜欣兴、李志宇、肖功、龙凤<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block4">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-brown">【培训通知】★★ </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>培训主题：</span>设计项目负责人能力建设<br>
                                    <span>主讲人：</span>张贤超<br>
                                    <span>时间：</span>2019年5月20日（今天）16:00~17:30<br>
                                    <span>地点：</span>科技楼211会议<br>
                                    <span>参加人员：</span>综合院、工艺院各所所长、专业负责人，各项目项目负责人，其他感兴趣的同事欢迎参加。<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block5">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-success">【来访信息】★ </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>来访信息：</span><br>
                                    <span>来访时间：</span>2019年5月8日-5月9日<br>
                                    <span>来访单位：</span>广西建工集团第三建筑工程有限责任公司<br>
                                    <span>注意事项：</span>接待期间，公司人员必须统一着装、佩戴工作牌；参加接待人员注意形象，不得随意抽烟、嚼槟榔。
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block6">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-info">【拓展成果】★★★ </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>拓展成果：</span>
                                    2019年5月8日，筑友设计与广西建工集团第三建筑工程有限责任公司签订战略合作协议。<br>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block7">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-success">【来访信息】★</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <p>
                                    <br>
                                    <span>来访信息：</span><br>
                                    <span>来访时间：</span>2019年4月23日<br>
                                    <span>来访单位：</span>正荣地产<br>
                                    <span>注意事项：</span>接待期间，公司人员必须统一着装、佩戴工作牌；参加接待人员注意形象，不得随意抽烟、嚼槟榔。
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="block8">
                    <div class="panel panel-default card-view panel-refresh" style="height: 300px">
                        <div class="panel-heading" style="padding-left:20px;padding-top:5px;padding-bottom:5px">
                            <div class="pull-left">
                                <h6 class="panel-title txt-success">【来访信息】★</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                    <p>
                                        <br>
                                        <span>来访信息：</span><br>
                                        <span>来访时间：</span>2019年4月23日<br>
                                        <span>来访单位：</span>雅士林集团<br>
                                        <span>注意事项：</span>接待期间，公司人员必须统一着装、佩戴工作牌；参加接待人员注意形象，不得随意抽烟、嚼槟榔。
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Row -->
    </div>
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Counter Animation JavaScript -->
    <script src="/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
    <!-- Data table JavaScript -->
    <script src="/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/productorders-data.js"></script>
    <!-- Owl JavaScript -->
    <script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- Switchery JavaScript -->
    <script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>
    <!-- Fancy Dropdown JS -->
    <script src="/dist/js/dropdown-bootstrap-extended.js"></script>
    <!-- Sparkline JavaScript -->
    <script src="/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- EChartJS JavaScript -->
    <script src="/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
    <script src="/vendors/echarts-liquidfill.min.js"></script>
    <!-- Toast JavaScript -->
    <script src="/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <!-- ChartJS JavaScript -->
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <!-- Bootstrap Select JavaScript -->
    <script src="/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- EasyPieChart JavaScript -->
    <script src="/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!-- Init JavaScript -->
    <script src="/myjs/dashboard-data.js"></script>
    <script type="text/javascript" src="/myjs/fill_notice.js"></script>
</body>

</html>