<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>公告栏维护</title>
    <meta name="description" content="Droopy is a Dashboard & Admin Site Responsive Template by hencework." />
    <meta name="keywords"
        content="admin, admin dashboard, admin template, cms, crm, Droopy Admin, Droopyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="/image/x-icon">

    <!-- Data table CSS -->
    <link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet"
        type="text/css" />

    <!-- bootstrap-table CSS -->
    <link href="/vendors/bower_components/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">

    <!--KindEditor css-->
    <link rel="stylesheet" href="/js/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="/js/kindeditor/themes/simple/simple.css" />
    <link rel="stylesheet" href="/js/kindeditor/plugins/autoheight/autoheight.js" />


    <!-- KindEditor JavaScript -->
    <script src="/js/kindeditor/kindeditor-all-min.js"></script>
    <script src="/js/kindeditor/lang/zh-CN.js"></script>

    <!-- jQuery -->
    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- bootstrap-table JavaScript -->
    <script src="/vendors/bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/vendors/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>

    <script type="text/javascript" src="/js/ext/ext-all.js"></script>
    <script src="/myjs/notice.js"></script>

    <style type="text/css">
        thead tr th {
            text-align: center;
        }
    </style>

</head>

<body id="ext-element-1" class="x-body x-webkit x-chrome x-desktop x-scroller" style="overflow: hidden;">
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->

    <div style="min-height: 900px;background: #FFF;">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px">
                <div class="panel panel-default card-view">

                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-wrap ">
                                <div class="table-responsive" style="padding:5px">
                                    <table id="table_reader" data-locale="zh-CN"
                                        class="table table-striped table-bordered table-condensed display compact">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- bootstrap 阅读模态框 -->
    <div class="modal fade bs-example-modal-lg" id="myModal_Reader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        公告
                    </h4>
                </div>
                <div class="modal-body mb-10">
                    <form role="form-horizontal" id="noticeForm2">
                        <fieldset disabled>
                            <div class="form-group">
                                <label for="noticeTopic" class="col-sm-3 control-label mb-5"
                                    style="font-weight:bold">通知主题:</label>
                                <input type="text" class="form-control input-sm" name="noticeTopic" id="noticeTopic2"
                                    placeholder="请输入主题">
                            </div>
                            <div class="form-group">
                                <label for="txt-body" class="col-sm-12 control-label mb-5"
                                    style="font-weight:bold">通知内容:</label>
                                <textarea style="width: 100%" rows="12" id="txt-body2" name="noticeBody"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="noticeType" class="col-sm-3 control-label"
                                    style="font-weight:bold">通知类型:</label>
                                <div>
                                    <label class="radio-inline ">
                                        <input type="radio" name="noticeType" id="2optionsRadios1" value="会议通知"
                                            >会议通知
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="noticeType" id="2optionsRadios2" value="培训通知">
                                        培训通知
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="noticeType" id="2optionsRadios3" value="来访信息">
                                        来访信息
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="noticeType" id="2optionsRadios4" value="拓展成果">
                                        拓展成果
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="noticeLevel" class="col-sm-3 control-label"
                                    style="font-weight:bold">重要等级:</label>
                                <div>
                                    <label class="radio-inline ">
                                        <input type="radio" name="noticeLevel" id="2optionsRadios1" value="一般" >
                                        一般
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="noticeLevel" id="2optionsRadios2" value="重要">
                                        重要
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="noticeLevel" id="2optionsRadios3" value="非常重要">
                                        非常重要
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group" style="display: none">
                            <input type="text" class="form-control" name="reader" id="reader" th:value="${userName}">
                            <input type="hidden" id="id" value="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-success mr-15 " style="float: right" onclick="readerFinish()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!-- JavaScript -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/myjs/dataTables-data.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>

    <!-- Init JavaScript -->
    <script src="/dist/js/init.js"></script>


</body>

</html>